main {
    margin-top: 150px;
    padding-bottom: 60px;
    color: #333;
    line-height: 1.6;
}

.add-competition-button-container {
    text-align: center;
    margin: 20px 0;
}

.add-competition-button {
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-competition-button:hover {
    background-color: #206c5c;
}

.competitions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.competition-card {
    border: 1px solid grey;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.competition-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.competition-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    flex: 1;
}

.competition-content {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.competition-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #206c5c;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.competition-button:hover {
    background-color: #2fb496;
}

.competition-button-edit {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.competition-button-edit:hover {
    background-color: #2fb496;
}

.competition-button-delete {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.competition-button-delete:hover {
    background-color: #8b0000;
}

@media (max-width: 768px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
        padding-bottom: 40px;
    }

    .competition-container {
        gap: 15px;
    }

    .competition-card {
        width: 80%;
        max-width: 400px;
    }

    .add-competition-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    main {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 80px;
        padding-bottom: 30px;
    }

    .competition-container {
        flex-direction: column;
        gap: 10px;
    }

    .competition-card {
        width: 100%;
    }

    .add-competition-button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .competition-header {
        flex-direction: column;
        text-align: center;
    }

    .author-image {
        margin-bottom: 10px;
    }
}