body{
    overflow: hidden;
}

main {
    margin-top: 300px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px;

}

.profile {
    flex: 1 1 300px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}

.profile-header{
    display: flex;
    margin-left: 15px;
}

.profile-img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
}

.profile-text-container{
    line-height: 0.5;
}

.profile-title{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.profile-email {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.menu {
    margin: 10px 0;
}

.menu-link{
    display: block;
    text-decoration: none;
    color: #33ccff;
    font-family: Poppins, sans-serif;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    text-align: left;
}

.menu-icon{
    margin-right: 10px;
}

.menu-link:first-child {
    color:#ffffff;
    background-color: #2e8b57;
}

.menu-link:hover{
    background-color: #206c5c;
    color: #ffffff;
}

.menu-link:first-child:hover {
    background-color: #206c5c;
    color: #ffffff;
}

.account {
    flex: 2 1 600px;
    margin-left: 10px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}

.account-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #206c5c;
}

.account-title{
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #206c5c;
    font-weight: 500;
    margin-left: 10px;
}

.btn-container {
    margin-right: 5px;
}

.btn-save{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #2e8b57;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
    background-color: #206c5c;
    transition-duration: 0.3s;
    box-shadow: rgba(0 ,0 ,0, 0.1) 0px 0px 0px;
}

.btn-save:hover{
    background-color: #2fb496;
}

.account-edit{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    text-align: left;
}

.input-container label{
    font-family: Poppins, sans-serif;
    color: #333333;
    font-size: 14px;
}

.input-container input{
    height: 25px;
    border: 1.5px solid #028d85;
    border-radius: 5px;
    padding: 5px;
    color: #333333;
    font-family: Poppins, sans-serif;
}

.input-container input:focus{
    outline: none;
    border: 1.5px solid #028d85;
}

.input-container textarea{
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1.5px solid #028d85;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    color: #333333;
}


.input-container textarea:focus{
    outline: none;
    border: 1.5px solid #028d85;
}

.content-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: -60px;
}

.leave-club-container {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 15px;
}

.leave-club-container h2 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: #206c5c;
}

.leave-club-container ul {
    list-style-type: none;
    padding: 0;
}

.leave-club-container li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-leave {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-leave:hover {
    background-color: #c0392b;
}

.competitions-container {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 15px;
}

.competitions-container h2 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: #206c5c;
}

.competitions-container ul {
    list-style-type: none;
    padding: 0;
}

.competitions-container li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Register-btn {
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.Register-btn:hover {
    background-color: #2fb496;
}

.Staff-container {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 15px;
}

.Staff-container h2 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: #206c5c;
    margin-bottom: 5px;
}

.Staff-container textarea{
    display: block;
    margin-top:10px;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1.5px solid #028d85;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    color: #333333;
}

.btn-staff {
    margin-top: 10px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: transparent;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-staff:hover {
    background-color: #2fb496;
}


#messages {
    background-color: green;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.25rem 0 0 0.25rem !important
}


@media screen and (max-width: 1000px) {
    body {
        overflow: visible;
    }

    main {
        margin-top: 150px;
    }

    .container {
        flex-direction: column;
        margin: 20px 20px;
        gap: 20px
    }

    .profile {
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: -200px;
    }

    .account {
        margin-left: 0;
        margin-top: 20px;
    }

    .account-header {
        flex-direction: column;
        align-items: flex-start;

    }

    .account-edit {
        flex-direction: column;
        margin: 10px 0;
    }

    .input-container {
        margin: 10px 0;
        padding: 5px;
    }

    .input-container input {
        width: 100%;
    }

    .content-layout {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .profile,
    .account {
        flex: 1 1 100%;
        margin: 0;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-img {
        margin: 0 auto;
        margin-top: 5px;
    }

    .menu {
        margin: 10px auto;
        text-align: center;
    }

    .menu-link {
        padding: 15px;
    }

    .btn-save,
    .btn-leave,
    .btn-staff {
        width: 100%;
    }

    .leave-club-container ul,
    .competitions-container ul {
        text-align: center;
    }
}