{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/public.css' %}"/>
    <title>GeekClimbers</title>
</head>
<header>
    <nav>
        <div class="guest">
            <a href={% url 'home' %}>Home</a>
            <a href={% url 'about' %}>About me</a>
            <a href={% url 'register' %}>Create User's Profile</a>
            <a href={% url 'login' %}>Login into Profile</a>
        </div>
    </nav>
</header>
<body>

<div class="container">
    <!-- Logo -->
    <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">

    <!-- Title -->
    <h1 class="title">Welcome to <strong>GeekClimbers</strong></h1>

    <!-- Buttons -->
    <div class="button-container">
        <a href={% url 'login' %}>
            <button class="button">Login</button>
        </a>
        <a href={% url 'register' %}>
            <button class="button">Register</button>
        </a>
    </div>
</div>

<div class="gallery">
    <div class="gallery-column left">
        <img src="{% static 'images/image1.jpg' %}" alt="Gallery Image 1">
        <img src="{% static 'images/image2.jpg' %}" alt="Gallery Image 2">
        <img src="{% static 'images/image3.jpg' %}" alt="Gallery Image 3">
        <img src="{% static 'images/image4.jpg' %}" alt="Gallery Image 4">
    </div>

    <div class="gallery-column right">
        <img src="{% static 'images/image5.jpg' %}" alt="Gallery Image 5">
        <img src="{% static 'images/image6.jpg' %}" alt="Gallery Image 6">
        <img src="{% static 'images/image7.jpg' %}" alt="Gallery Image 7">
        <img src="{% static 'images/image8.jpg' %}" alt="Gallery Image 8">
    </div>
</div>


<!-- footer -->
<footer>
    <p>&copy; 2024 ClimbingGeeks by Kristiyan. All rights reserved.</p>
</footer>


</body>
</html>

